[defaults]
inventory = inventory/netbox.yml
gathering = explicit
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml

[inventory]
enable_plugins = netbox.netbox.nb_inventory

[persistent_connection]
connect_timeout = 30
command_timeout = 60
